.home {
    background-color: #333131;
    height: 180vh;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .container {
      border: 1px solid white;
      border-radius: 10px;
      width: 61%;
      height: 70%;
      display: flex;
    }}

      .messageContent {
        align-items: flex-end;
        p {
          background-color: #001f83;
          color: white;
          border-radius: 10px 0px 10px 10px;
        }
      }
      
  .chatroom-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #ffffffe6;
    color: rgb(245, 4, 4);
    border-radius: 10px;
  }
  
  .messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    padding: 3px;
    background-color: #ffffff;
  }
  
  .input-container input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: rgb(255, 252, 252);
    color: rgb(0, 0, 0);
  }
  
  .input-container button {
    padding: 10px;
    background-color:  #291599;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;

  }
  
  
  
  .sign-out {
    padding: 10px;
    background-color: #050777;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
  }
  
  h1 {
    color: rgb(3, 3, 3);
    text-align: center;
  }